-r requirements.txt
colorama==0.4.6
iniconfig==2.3.0
mypy==2.3.1
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pluggy==1.6.0
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.6
pytest==9.1.1
pywin32-ctypes==0.2.3
ruff==0.16.4
typing_extensions==4.16.0
